@import url("https://fonts.googleapis.com/css2?family=Comfortaa");

* {
  font-family: "Comfortaa", cursive;
  box-sizing: border-box;
}
body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #a07346;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  box-shadow: 0 2px 4px black;
  padding-block: 10px;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.navbar-links ul {
  display: flex;
}

.navbar-links ul li {
  list-style: none;
  /* display: inline-block;
  padding-inline: 10px; */
}
nav div.navbar-brand {
  font-weight: bolder;
  font-size: large;
  padding: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
}
nav ul li a:hover {
  font-weight: bold;
}

.navbar-links ul li:first-child {
  margin-inline-start: 7%;
}
/* nav ul li a:last-child {
  margin-inline-end: 1.05rem;
}

nav ul li.navbar-brand {
  margin-left: 0;
}

nav ul > a {
  margin-inline: 0.7%;
  color: black;
}

/*nav ul > a i {
  margin-inline: 3px;
  clear: both;
} */

nav div.right {
  margin-left: auto;
}

nav div.right a {
  margin-inline: 0.8rem;
  color: black;
}

button {
  padding: 8px;
  border-radius: 5px;
  background-color: #a07346;
  color: black;
  /* position: relative;
  left: 7%; */
  /* margin-inline: 3px;
  margin-top: -5px;
  float: right; */
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
  background-color: black;
  color: #a07346;
}

button.signup {
  margin-right: 1rem;
}

button:first-child {
  margin-inline-start: 20px;
}

/* span.right {
  align-content: flex-end;
} */

button.navbar-toggle {
  font-size: large;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

@media screen and (min-width: 901px) {
  .navbar-toggle {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    width: 100%;
    display: none;
  }
  .navbar-links ul {
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .navbar-links ul li:first-child {
    margin: 0;
    border-top: 1px solid black;
  }
  .navbar-links li {
    text-align: center;
    padding: 0.5rem;
    margin-block: 0.2rem;
  }
  .navbar-links.responsive {
    display: flex;
  }
  nav ul li:hover {
    font-weight: bold;
    background-color: #a07310;
  }
  nav div.right {
    display: none;
  }
  nav div.right.responsive {
    display: flex;
  }
  .responsive button {
    margin-left: auto;
    margin-inline: 2px;
  }
  .responsive span.icon {
    float: left;
    /* position: relative;
    right: 2rem; */
  }
}

/* @media screen and (max-width: 969px) {
  nav ul li a.responsive {
    display: flex;
  }
  nav ul > a.responsive {
    display: flex;
  }
  button.login.responsive,
  button.signup.responsive {
    display: flex;
  }
} */
